<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="/c3/c3.css"/>-->
    <!--<link rel="stylesheet" href="/lib/morris.css"/>-->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="/lib/raphael-min.js"></script>
    <script src="/lib/morris.min.js"></script>-->
    <!--<script src="/d3/d3.min.js"></script>
    <script src="/c3/c3.min.js"></script>-->
    <script src="/zingchart/client/zingchart.min.js"></script>
    <script src="/ammap3/ammap/ammap.js"></script>
    <script src="/ammap3/ammap/maps/js/worldLow.js"></script>
    <script src='/javascripts/dist/js/sachin.js'></script>
  </body>
</html>
